<div class="row mb-2 lead font-weight-bold">
  <div class="col d-flex align-items-center">
    <button mat-button color="primary" (click)="onPreviousMonthClick()">
      <mat-icon inline="true">chevron_left</mat-icon>
    </button>
    <button mat-button color="primary" [disabled]="captured" style="min-width: 180px;"
      (click)="onNameClick()">
      {{name}}
    </button>
    <button mat-button color="primary" (click)="onNextMonthClick()">
      <mat-icon inline="true">chevron_right</mat-icon>
    </button>
  </div>
  <div class="col text-right color-primary">
    {{beginningBalance && (beginningBalance.amount | number: '1.2-2')}}
  </div>
</div>
<div class="row mb-2 text-center font-weight-bold">
  <div class="col d-none d-xl-block">Sun</div>
  <div class="col d-none d-xl-block">Mon</div>
  <div class="col d-none d-xl-block">Tue</div>
  <div class="col d-none d-xl-block">Wed</div>
  <div class="col d-none d-xl-block">Thu</div>
  <div class="col d-none d-xl-block">Fri</div>
  <div class="col d-none d-xl-block">Sat</div>
</div>
<div class="row border mb-5">
  <ng-container *ngFor="let day of previousMonthDays">
    <div class="col border p-2 day disabled d-none d-xl-block">
      <div class="font-weight-bold mb-2 d-flex justify-content-between">
        <div>
          {{day.date.getDate()}}
        </div>
        <div>
          &nbsp;
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngFor="let day of days; let dayIndex = index">
    <div class="col border p-2 day" (click)="onDayClick(day)">
      <div class="font-weight-bold mb-2 d-flex justify-content-between">
        <div>
          {{day.date.getDate()}}
        </div>
        <div class="d-block d-xl-none">
          {{day.date | date: 'EEEEEE'}}
        </div>
        <div>
          {{!day.disabled ? (day.balanceAmount | number: '1.2-2') : ''}}
        </div>
      </div>
      <div *ngFor="let transaction of day.transactions" matRipple class="d-flex justify-content-between border rounded my-1 clickable"
        [ngClass]="{'clickable-primary': transaction.cleared, 'clickable-warn': !transaction.cleared}" (click)="onTransactionClick(transaction);$event.stopPropagation()">
        <div class="px-1">
          {{transaction.description}}
        </div>
        <div class="px-1" [matTooltip]="transaction.cleared ? 'unclear' : 'clear'" (click)="onTransactionAmountClick(transaction);$event.stopPropagation()">
          {{transaction.amount | number: '1.2-2'}}
        </div>
      </div>
      <div *ngFor="let recurrence of day.recurrences" matRipple class="d-flex justify-content-between border rounded my-1 font-italic clickable clickable-accent"
        (click)="onRecurrenceClick(recurrence);$event.stopPropagation()">
        <div class="px-1">
          {{recurrence.description}}
        </div>
        <div class="px-1">
          {{recurrence.amount | number: '1.2-2'}}
        </div>
      </div>
    </div>
    <div *ngIf="(previousMonthDays.length + dayIndex + 1) % 7 === 0" class="w-100 d-none d-xl-block"></div>
    <div *ngIf="(dayIndex + 1) % 5 === 0" class="w-100 d-none d-lg-block d-xl-none"></div>
    <div *ngIf="(dayIndex + 1) % 3 === 0" class="w-100 d-none d-md-block d-lg-none"></div>
    <div *ngIf="(dayIndex + 1) % 2 === 0" class="w-100 d-block d-sm-none"></div>
  </ng-container>
  <ng-container *ngIf="(previousMonthDays.length + days.length) % 7 as remainder">
    <ng-container *ngFor="let day of getNextMonthDays(7 - remainder)">
      <div class="col border p-2 day disabled d-none d-xl-block">
        <div class="font-weight-bold mb-2 d-flex justify-content-between">
          <div>
            {{day.date.getDate()}}
          </div>
          <div>
            &nbsp;
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="days.length % 5 as remainder">
    <ng-container *ngFor="let day of getNextMonthDays(5 - remainder)">
      <div class="col border p-2 day disabled d-none d-lg-block d-xl-none">
        <div class="font-weight-bold mb-2 d-flex justify-content-between">
          <div>
            {{day.date.getDate()}}
          </div>
          <div>
            &nbsp;
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="days.length % 3 as remainder">
    <ng-container *ngFor="let day of getNextMonthDays(3 - remainder)">
      <div class="col border p-2 day disabled d-none d-md-block d-lg-none">
        <div class="font-weight-bold mb-2 d-flex justify-content-between">
          <div>
            {{day.date.getDate()}}
          </div>
          <div>
            &nbsp;
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="days.length % 2 as remainder">
    <ng-container *ngFor="let day of getNextMonthDays(2 - remainder)">
      <div class="col border p-2 day disabled d-block d-sm-none">
        <div class="font-weight-bold mb-2 d-flex justify-content-between">
          <div>
            {{day.date.getDate()}}
          </div>
          <div>
            &nbsp;
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
