<div class="transaction-dialog-container">
  <div class="d-flex justify-content-between mb-4">
    <div>
      {{transaction.date | date}}
    </div>
    <button mat-icon-button mat-dialog-close class="dialog-close-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="form" class="d-flex flex-column">
    <mat-form-field>
      <input matInput placeholder="description" formControlName="description">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="amount" formControlName="amount">
    </mat-form-field>
  </form>
</div>
