@import '../../../../mixins';

.transaction-dialog-container {
  position: relative;

  &:before {
    content: "";
    margin: -15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    border-radius: inherit;
    opacity: .2;
  }

  &.transaction-dialog-container-primary {
    &:before {
      background-color: mat-color($dark-primary, default);
    }
  }

  &.transaction-dialog-container-warn {
    &:before {
      background-color: mat-color($dark-warn, default);
    }
  }
}
