@import '../../../../variables';

.dialog-container {
  position: relative;
  height: 100%;

  &:before {
    content: "";
    margin: -15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    border-radius: inherit;
    background-color: mat-color($dark-accent, default);
    opacity: .2;
  }
}
