@import '../../../variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.day {
  min-height: 100px;

  &.disabled {
    background-color: $gray-900;
  }
}

.day:not(.disabled):hover {
  background-color: $primary;
}

.transaction {
  position: relative;

  &:hover {
    box-shadow: 0 0 0 2px $gray-300;
    cursor: pointer;
  }
}
