<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">accounting</a>
      <button mat-button color="primary" class="mx-1" routerLink="home">
        home
      </button>
      <button mat-button color="primary" class="mx-1" routerLink="calendar">
        calendar
      </button>
      <button mat-button color="primary" class="mx-1" routerLink="recurrences">
        recurrences
      </button>
      <button mat-button color="primary" class="mx-1" *ngIf="authIsExpired$ | async" (click)="login()">
        log in
      </button>
      <button mat-button color="primary" class="mx-1" *ngIf="!(authIsExpired$ | async)" (click)="logout()">
        log out
      </button>
    </div>
  </div>
</nav>
<main>
  <div class="overlay" *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
