@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$grid-breakpoints: (
  xs: 0,
  sm: 567px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1700px,
  xxxl: 1900px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1580px,
  xxxl: 1780px
);

$primary: darken($primary, 20%);
$theme-colors: (
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  )
);
$link-color:                theme-color("primary");
$link-hover-color:          darken($link-color, 15%);

