@import "~@angular/material/theming";

$dark-primary: mat-palette($mat-cyan, 200, 50, 400);
$dark-accent: mat-palette($mat-amber, 100, 50, 200);
$dark-warn: mat-palette($mat-red, 200, 50, 400);

$day-disabled-background-color: mat-color($mat-gray, 800);
$day-hover-background-color: mat-color($mat-gray, 900);
$button-hover-opacity: .2;

$grid-breakpoints: (xs: 0,
sm: 567px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl: 1700px,
xxxl: 1900px);

$container-max-widths: (sm: 540px,
md: 720px,
lg: 960px,
xl: 1140px,
xxl: 1580px,
xxxl: 1780px);
