/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '~bootstrap/scss/bootstrap';

* {

  &:active,
  :focus {
    outline: none !important; // 1
  }
}

label {
  margin-bottom: 0; // 2
}

// a:not(.mat-button):not(.mat-raised-button):not(.mat-fab):not(.mat-mini-fab):not([mat-list-item]) {
//   color: #3f51b5; // 3
// }

@import "~@angular/material/theming";

@include mat-core();

$dark-primary: mat-palette($mat-cyan, 200, 50, 400);
$dark-accent: mat-palette($mat-amber, 100, 50, 200);
$dark-warn: mat-palette($mat-deep-orange, 200, 50, 400);

$dark-theme-foreground-base: map_get($mat-gray, 400);
$mat-dark-theme-foreground: (base: $dark-theme-foreground-base,
divider: $light-dividers,
dividers: $light-dividers,
disabled: $light-disabled-text,
disabled-button: rgba($dark-theme-foreground-base, 0.3),
disabled-text: $light-disabled-text,
elevation: black,
hint-text: $light-disabled-text,
secondary-text: $light-secondary-text,
icon: $dark-theme-foreground-base,
icons: $dark-theme-foreground-base,
text: $dark-theme-foreground-base,
slider-min: $dark-theme-foreground-base,
slider-off: rgba($dark-theme-foreground-base, 0.3),
slider-off-active: rgba($dark-theme-foreground-base, 0.3),
);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

$_mat-button-ripple-opacity: 0.3;

@include angular-material-theme($dark-theme);

body {
  font-size: small;
  overflow-y: scroll;
}

.cdk-global-scrollblock {
  overflow-y: hidden;
}

.mat-progress-bar-buffer {
  background-color: $black !important;
}

.mat-button:hover .mat-button-focus-overlay,
.mat-stroked-button:hover .mat-button-focus-overlay {
  opacity: .12 !important;
}

.mat-dialog-container {
  padding: 15px !important;
}

button[mat-dialog-close] {
  i {
    position: relative;
    top: -1px;
  }
}

.toast-top-full-width {
  margin-top: 25px;
}

// .toast-error {
//   background-color: $danger;
// }

.toast-container .toast {
  box-shadow: none;
}

// .btn-primary {
//   color: $primary;
//   background-color: transparent;
// }

// .btn-secondary {
//   color: $secondary;
//   background-color: transparent;
// }

// .clickable-primary {
//   &:hover {
//     border-color: $primary !important;
//     box-shadow: 0 0 0 2px $primary;
//   }

//   &:focus {
//     outline-color: $primary;
//   }

//   color: $primary !important;

//   div {
//     cursor: pointer;
//   }
// }

// .clickable-secondary {
//   &:hover {
//     border-color: $secondary !important;
//     box-shadow: 0 0 0 2px $secondary;
//   }

//   &:focus {
//     outline-color: $secondary;
//   }

//   color: $secondary !important;

//   div {
//     cursor: pointer;
//   }
// }

// .clickable-tertiary {
//   &:hover {
//     border-color: $tertiary !important;
//     box-shadow: 0 0 0 2px $tertiary;
//   }

//   &:focus {
//     outline-color: $tertiary;
//   }

//   color: $tertiary !important;

//   div {
//     cursor: pointer;
//   }
// }

// .clickable-danger {
//   &:hover {
//     border-color: $danger !important;
//     box-shadow: 0 0 0 2px $danger;
//   }

//   &:focus {
//     outline-color: $danger;
//   }

//   color: $danger !important;

//   div {
//     cursor: pointer;
//   }
// }
