/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '~bootstrap/scss/bootstrap';

body {
  font-size: small;
  color: $primary;
  background-color: $gray-900;
}
