/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '~bootstrap/scss/bootstrap';

* {

  &:active,
  :focus {
    outline: none !important;
  }
}

label {
  margin-bottom: 0;
}





@import "~@angular/material/theming";

@include mat-core();

$dark-primary: mat-palette($mat-cyan, 200, 50, 400);
$dark-accent: mat-palette($mat-amber, 100, 50, 200);
$dark-warn: mat-palette($mat-deep-orange, 200, 50, 400);

$dark-theme-foreground-base: map_get($mat-gray, 400);
$mat-dark-theme-foreground: (base: $dark-theme-foreground-base,
divider: $light-dividers,
dividers: $light-dividers,
disabled: $light-disabled-text,
disabled-button: rgba($dark-theme-foreground-base, 0.3),
disabled-text: $light-disabled-text,
elevation: black,
hint-text: $light-disabled-text,
secondary-text: $light-secondary-text,
icon: $dark-theme-foreground-base,
icons: $dark-theme-foreground-base,
text: $dark-theme-foreground-base,
slider-min: $dark-theme-foreground-base,
slider-off: rgba($dark-theme-foreground-base, 0.3),
slider-off-active: rgba($dark-theme-foreground-base, 0.3));

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

$_mat-button-ripple-opacity: 0.5;
$mat-ripple-color-opacity: 0.5;

@include angular-material-theme($dark-theme);

.cdk-global-scrollblock {
  overflow-y: hidden;
}

.mat-progress-bar-buffer {
  background-color: $black !important;
}

$button-hover-opacity: .2;

.mat-button:hover .mat-button-focus-overlay,
.mat-stroked-button:hover .mat-button-focus-overlay {
  opacity: $button-hover-opacity !important;
}

.mat-dialog-container {
  padding: 15px !important;
}

a:not(.mat-button):not(.mat-raised-button):not(.mat-fab):not(.mat-mini-fab):not([mat-list-item]) {
  color: mat-color($dark-primary);
}





.toast-top-full-width {
  margin-top: 25px;
}

.toast-error {
  background-color: $danger;
}

.toast-container .toast {
  box-shadow: none;
}





body {
  font-size: small;
  overflow-y: scroll;
}

button {
  font-size: inherit !important;
}

button[mat-dialog-close] {
  i {
    position: relative;
    top: -1px;
  }
}

.clickable {
  cursor: pointer;

  &:before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    border-radius: inherit;
    background-color: currentColor;
    opacity: 0;
    transition: opacity .2s cubic-bezier(.35, 0, .25, 1), background-color .2s cubic-bezier(.35, 0, .25, 1);
  }

  &:hover {
    &:before {
      opacity: $button-hover-opacity;
    }
  }

  &.clickable-primary {
    color: mat-color($dark-primary);
    border-color: mat-color($dark-primary, default, $button-hover-opacity) !important;

    .mat-ripple-element {
      background-color: rgba(mat-color($dark-primary), $mat-ripple-color-opacity);
    }
  }

  &.clickable-danger {
    color: mat-color($dark-warn);
    border-color: mat-color($dark-warn, default, $button-hover-opacity) !important;

    .mat-ripple-element {
      background-color: rgba(mat-color($dark-warn), $mat-ripple-color-opacity);
    }
  }
}
